@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* RESET RULES */


*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}
html {
    font-family: 'poppins','system ui';
}
/* ul{
    list-style: none;
} */


/* STYLE */


.logo-container{
    max-width: 1564px;
    margin: 0 auto;
}
.logo-margin{
    margin-bottom: 50px;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.logo-text{
    font-size: 40px;
    vertical-align: 15px;
}
.logo{
    margin-left: 20px;
    background-color: white;
}
.body-bg{
    background-color: rgb(202, 182, 182);
}
.main-header-bg{
    background-color: white;
}
.main-border{
    border: 15px solid white;
    border-radius: 10px;
}
ul span{
    border: 0px solid white; 
    border-radius: 12px;
    padding: 5px;
    color:white ;
    font-size: 12px;
}
ul{
    line-height: 40px;
    list-style-position: inside;
    padding-left: 0;
}
li{
    line-height: 50px;
}
.main-padding{
    padding-left: 50px;
}
.main-list{
    list-style-position: inside;
    padding-left: 0; 
}
.task-button{
    border: 1px solid #45abe9;
    background-color: #45abe9;
    color:white;
    border-radius: 5px;
    padding: 3px;
}
.section-button{
    border: 1px solid #c5cbd0;
    color:#c5cbd0;
    border-radius: 5px;
    padding: 3px;
}
.primary-button-padding{
    padding: 20px 50px;
}
.list-tb-padding{
    padding-top: 20px;
    padding-bottom: 40px;
}

/* UTIL */


.button-cyan{
    background-color: #45abe9;
}
.button-purple{
    background-color: #9c72e4;
}
.button-green{
    background-color: #64c0a9;
}
.button-orange{
    background-color: #f29e33;
}
.button-lime{
    background-color: #b0c926;
}
