@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* RESET RULES */


*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}
html {
    font-family: 'poppins','system ui';
}
ul{
    list-style: none;
    padding-left: 20px;
}
li{
    padding-left: 0px;
    line-height: 40px;
}

/* STYLE */


.logo-container{
    max-width: 1564px;
    margin: 0 auto;
}
.logo-margin{
    margin-bottom: 50px;
}
.container{
    max-width: 1024px;
    margin: 0px auto;
}
.logo-text{
    font-size: 40px;
    vertical-align: 15px;
}
.logo{
    margin-left: 20px;
    background-color: white;
}
.body-bg{
    background-color: #345e74;
}
.main-header-bg{
    background-color: white;
}
.main-border{
    border: 15px solid white;
    border-radius: 10px;
    padding-bottom: 50px;
}

.main-padding{
    padding-left: 50px;
}

.task-button{
    border: 1px solid #45abe9;
    background-color: #45abe9;
    color:white;
    border-radius: 5px;
    padding: 3px;
    
}
.section-button{
    border: 1px solid #c5cbd0;
    color:#c5cbd0;
    border-radius: 5px;
    padding: 3px;
}
.button-task{
    border: solid 1px;
}
ul div{
    margin-top: 20px;
}
.button-task-head{
    margin-left: 40px;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: solid 1px rgb(196, 192, 192);
}

ul div button{
    border: solid 1px;
    border-radius: 20px;
    padding: 6px;
    margin: 6px;
    color: white;
}
.circle-mark{
    border: solid 1px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    display:inline-block;
}


/* UTIL */

.checkmark{
    color: green;
}
.cross{
    color: red;
}
.button-cyan{
    background-color: #45abe9;
}
.button-purple{
    background-color: #9c72e4;
}
.button-green{
    background-color: #64c0a9;
}
.button-orange{
    background-color: #f29e33;
}
.button-lime{
    background-color: #b0c926;
}
.button-pink{
    background-color: #d863a0;
}
